    .jumbotron {
        margin: 0px auto;
        padding: 90px 20px 90px 20px;
        color: floralwhite;
    }
    
    .row-content {
        margin: 0px auto;
        padding: 50px 0px 50px 0px;
        border-bottom: 2px ridge;
        min-height: 400px;
    }
    
    .row-content2 {
        margin: 0px auto;
        padding: 50px 0px 50px 0px;
        min-height: 400px;
    }
    
    .footer {
        margin: 0px auto;
        padding: 50px 0px 50px 0px;
        background-color: lightblue;
    }
    
    .address {
        font-size: 100%;
        color: black;
    }
    
    .navbar {
        background-color: navy;
    }
    
    .navbar-dark {
        background: black;
    }
    
    body {
        padding: 50px 0px 0px 0px;
        z-index: 0;
    }
    
    .tab-content {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }
    
    .carousel-item {
        background: purple;
    }
    
    .crsl {
        color: ghostwhite;
    }
    
    #carouselButton {
        right: 0px;
        position: absolute;
        bottom: 0px;
        z-index: 2;
    }
    
    header {
        background-image: url(https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }